/*--------------------------------
            GENERAL
 -------------------------------*/

body{
    font-family: 'Varela Round', sans-serif;
    font-family: 'Lato', sans-serif;
    background-color: #e9e9eb;
    color: #2a2b31;
}






/*--------------------------------
            BUTTONS
 -------------------------------*/

.button{
    position: relative;
    border-radius: 50px;
}

.button__medium{
    height: 42px;
}

.button__large{
    height: 50px;
}

.button__medium--blue{
    background-color: #267df4;
    color: #ffffff !important;
}






/*--------------------------------
            TYPOGRAPHY
 -------------------------------*/

.text__lato{
    font-family: 'Lato', sans-serif;
}
.text__lato--light{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.text__varela{
    font-family: 'Varela Round', sans-serif;
}


.text__article{
    font-size: 1.25rem;
}

.text__article--small{
    font-size: 1.125rem;
}

.text__article--heading{
    font-size: 1.625rem;
}

.text__small{
    font-size: 1rem;
}

.text__heading{
    font-size: 2.625rem;
}

.text__heading--large{
    font-size: 3.875rem;
}

.color__grey{
    color: #8c8f94 !important;
}

.color__black{
    color: #26272d !important;
}




/*--------------------------------
      FOR DEBUGGING PURPOSES
 -------------------------------*/
 
.debug__border{
    border:1px red solid;
}
.debug__background{
    background-color: red;
}
.debug__background:hover{
	background-color: white;
}








/*--------------------------------
            HEADER
 -------------------------------*/

header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999999;
}

.logo{
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
}
.logo-bold-part{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size:0.9rem
}
.pt-44px{
    padding-top: 44px;
}

.black{
    color:black;
}

.button__medium--get-app{
    width: 132px;
}

.button__medium--apple-size{
    font-size: 1.5rem;
}





/*--------------------------------
            First page
 -------------------------------*/

.fp__background{
    position: relative;
    background-image: url("../images/banner_background.jpg");
    background-size: cover;
    width: 100%;
    height: 1000px;

}


.fp__iphone-header{
    position: absolute;
    background-image: url("../images/header_iphone.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 369px;
    height: 455px;
    bottom: 0;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 0%);
}

.fp__content{
    padding-top: 200px;
}

.fp__article{
    line-height: 1.7rem;
}

.fp__button{
    background-color: transparent;
    width: 205px;
    outline: none;
}

.fp__button--icon{
    margin-right: 15px;
}






/*------------------------
        Features
------------------------ */

.features{
    background-color: #ffffff;
    height: 600px;
}

.feature__col-margin{
    margin-left: 35px;
}

.feature__content-margin-vertical{
    margin: 120px 0;
}


.feature__text-margin-top{
    margin-top: 45px;
}